Repository AichaMbongo/Decision_maker, pull requests merged in 2024-05, with the labels that each got.

#73 Feature/landing-page
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/cho.jpg
  src/cho.png
  src/cho1.jpg
  src/cho3.jpg
  src/components/Button.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/LinearColor.tsx
  src/components/input-field.tsx
  src/components/interfaces/ButtonInterface.ts
  src/components/interfaces/InputFieldProps.ts
  src/components/interfaces/LayoutProps.ts
  src/index.tsx
  src/pages/DecisionModel.tsx
  src/pages/HeroSection.tsx
  src/pages/PreviousDecision.tsx
  src/pages/landing.tsx
  src/pages/newCriteria.tsx
  src/pages/otherNewCriteria.tsx
  src/theme/theme.ts
Labels: Landing-page, front-end

#75 Feature/previous-decision-page
  src/App.css
  src/App.tsx
  src/components/Button.tsx
  src/components/Search.tsx
  src/index.tsx
  src/pages/DecisionModel.tsx
  src/pages/PreviousDecision.tsx
  src/pages/PreviousDecisions.tsx
  src/pages/newCriteria.tsx
  src/pages/otherNewCriteria.tsx
Labels: App page (Front-end)

#77 fix : change name from landing.tsx to Landing.tsx (change of case)
  src/App.tsx
  src/index.tsx
Labels: bug

#106 Feat: Added edits on the New Criteria Page and Another New Criteria Page
  src/components/Button.tsx
  src/pages/NewCriteria.tsx
  src/pages/OtherNewCriteria.tsx
Labels: front-end
